<div class="footer">
<small>
   <copyright>
   &copy; The <%= link_to t('layouts.navbar.title'), root_path %>
   by  <a href="#">Reservation Company</a> <%= Time.now.year %>
   </copyright>
</small>
</div>