<header class="landing_bg">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center" id="center_div">
      <h1 class="mx-auto my-0 text-uppercase"><%= t("layouts.landing.title") %></h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5"><%= t("layouts.landing.quote") %></h2>
      <%= link_to t("layouts.landing.start") , new_user_registration_path, :class => 'btn btn-outline btn-landing' %>
    </div>
  </div>
</header>
